# Data Science Tools and Ecosystem

This notebook contains a summary of Data Science Tools and Ecosystem.

**Objectives:**
* List of popular Data Science Languages
* List of common Data Science Libraries
* List of some open source Tools used in Data Science
* Examples of arithmetic expressions in Python

## Author
Rebecca Urbina

Some of the popular languages used by Data Scientists are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists are:
1. Pandas
2. matplotlib
3. Numpy
4. scikit-learn

| Data Science Tools |
| ------------- |
| Jupyter Notebooks |
| Jupyter Lab |
| RStudio |

### Below are examples of Python arithmetic expressions

In [1]:
# This is a simple arithmetic expression that multiplies then adds integers
(3*4)+5

17

In [2]:
#This expression will convert 200 minutes to hours by diving by 60
mins = 200
hours = mins/60
print(hours)

3.3333333333333335